@import "tailwindcss";

* {
  font-family: "Josefin Slab", serif;
}

body {
  background-color: var(--cream-color);
}

:root {
  --primary-color: #b84c65;
  --cream-color: #f4efe2;
  --light-pink: #cc7676;
}
