@import "tailwindcss";

* {
   font-family: "Josefin Slab", serif;
   background-color: var(--cream-color);
}

:root {
  --primary-color: #B84C65;
  --cream-color: #F4EFE2;
  --light-pink: #CC7676;

}